body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bodoni Moda', serif;
    max-width: 100%;
}

a{
    text-decoration: none;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: #2d4771;
    margin: 0 auto;
    position: fixed;
    background-size: cover !important;
    background-attachment: fixed !important;
}

/* .bg{
    width: 100%;
    height: 100vh;
}

.bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-attachment: fixed;
} */

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(14,14,14,0.76);
}

.content img{
    width: 20%;
    top: 50px;
    align-items: center;
    position: relative;
    margin-top: -200px;
}

.content strong{
    font-size: 4rem;
    width: 100%;
    text-align: center;
    color: #a1723e;
    line-height: 150px;
    text-shadow: 0 2px 0  rgba(150, 144, 144, 0.75);
}

.content p{
    color: rgba(230,230, 230, 0.92);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 2px;
}
/* 
.btn-1{
    width: 15%;
    height: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #a1723a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a1723a;
    float: left;
    background: transparent;
    margin-top: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.btn-2{
    width: 15%;
    height: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #a1723a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    float: left;
    background-color: #a1723e;
    margin-top: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
} */

.banner-btn button{
    width: 100%;
    text-align: center !important;
    margin: 0 5px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 1px solid #a1723e;
    border-radius: 50px;
    text-decoration: none;
    padding: 20px 50px;
    display:inline-block;
    position: relative;
    margin-top: 15px;
    color: #a1723e;
    background: transparent;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.banner-btn a{
    color: #a1723e;
} 

.banner-btn a:hover{
    color: #ffffff;
}

.banner-btn button:hover{
    color: #ffffff !important;
}

.content strong span{
    color: #e2b376;
}

@media(max-width:780px){

    .content img{
        top: 0;
        width:40%;
    }
    .content strong{
        font-size: 2rem;
        line-height: 60px;
        padding: 0px 10px;
    }

    .content p{
        font-size: 1rem;
    }

    .banner-btn button{
        width: 180px;
        height: 44px;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        padding:3px 2px;
    }

}